body {
  background-color: #3F3F3F;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: gray; }

.container {
  width: 40%;
  margin: auto; }

div {
  border-radius: 3px;
  position: relative; }

.pattern-heading h3 {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 700; }
.pattern-heading input.color {
  border: none;
  padding: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  width: 40px;
  border-radius: 2px; }

.examples {
  height: 170px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #8A8A6F; }

.example-normal {
  height: 100%;
  float: left;
  width: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.example-inverted {
  height: 100%;
  float: left;
  width: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.pattern-1 .example-normal {
  background: url("patterns/paper.png"); }
.pattern-1 .example-inverted {
  background: url("patterns/inverted/paper.png"); }

.pattern-2 .example-normal {
  background: url("patterns/rice_paper.png"); }
.pattern-2 .example-inverted {
  background: url("patterns/inverted/rice_paper.png"); }

.pattern-3 .example-normal {
  background: url("patterns/noise_lines.png"); }
.pattern-3 .example-inverted {
  background: url("patterns/inverted/noise_lines.png"); }

.pattern-4 .example-normal {
  background: url("patterns/fabric_plaid.png"); }
.pattern-4 .example-inverted {
  background: url("patterns/inverted/fabric_plaid.png"); }

.pattern-5 .example-normal {
  background: url("patterns/first_aid_kit.png"); }
.pattern-5 .example-inverted {
  background: url("patterns/inverted/first_aid_kit.png"); }

.pattern-6 .example-normal {
  background: url("patterns/texturetastic_gray.png"); }
.pattern-6 .example-inverted {
  background: url("patterns/inverted/texturetastic_gray.png"); }

.pattern-7 .example-normal {
  background: url("patterns/lil_fiber.png"); }
.pattern-7 .example-inverted {
  background: url("patterns/inverted/lil_fiber.png"); }

.pattern-8 .example-normal {
  background: url("patterns/tex2res5.png"); }
.pattern-8 .example-inverted {
  background: url("patterns/inverted/tex2res5.png"); }

.pattern-9 .example-normal {
  background: url("patterns/skin_side_up.png"); }
.pattern-9 .example-inverted {
  background: url("patterns/inverted/skin_side_up.png"); }

.pattern-10 .example-normal {
  background: url("patterns/light_noise_diagonal.png"); }
.pattern-10 .example-inverted {
  background: url("patterns/inverted/light_noise_diagonal.png"); }

.pattern-11 .example-normal {
  background: url("patterns/chruch.png"); }
.pattern-11 .example-inverted {
  background: url("patterns/inverted/chruch.png"); }

.pattern-12 .example-normal {
  background: url("patterns/45degreee_fabric.png"); }
.pattern-12 .example-inverted {
  background: url("patterns/inverted/45degreee_fabric.png"); }

.pattern-13 .example-normal {
  background: url("patterns/bgnoise_lg.png"); }
.pattern-13 .example-inverted {
  background: url("patterns/inverted/bgnoise_lg.png"); }

.pattern-14 .example-normal {
  background: url("patterns/little_pluses.png"); }
.pattern-14 .example-inverted {
  background: url("patterns/inverted/little_pluses.png"); }

.pattern-15 .example-normal {
  background: url("patterns/squairy_light.png"); }
.pattern-15 .example-inverted {
  background: url("patterns/inverted/squairy_light.png"); }

.pattern-16 .example-normal {
  background: url("patterns/white_texture.png"); }
.pattern-16 .example-inverted {
  background: url("patterns/inverted/white_texture.png"); }

.pattern-17 .example-normal {
  background: url("patterns/binding_light.png"); }
.pattern-17 .example-inverted {
  background: url("patterns/inverted/binding_light.png"); }

.pattern-18 .example-normal {
  background: url("patterns/double_lined.png"); }
.pattern-18 .example-inverted {
  background: url("patterns/inverted/double_lined.png"); }

.pattern-19 .example-normal {
  background: url("patterns/grid.png"); }
.pattern-19 .example-inverted {
  background: url("patterns/inverted/grid.png"); }

.pattern-20 .example-normal {
  background: url("patterns/absurdidad.png"); }
.pattern-20 .example-inverted {
  background: url("patterns/inverted/absurdidad.png"); }

.pattern-21 .example-normal {
  background: url("patterns/grid_noise.png"); }
.pattern-21 .example-inverted {
  background: url("patterns/inverted/grid_noise.png"); }

.pattern-22 .example-normal {
  background: url("patterns/fancy_deboss.png"); }
.pattern-22 .example-inverted {
  background: url("patterns/inverted/fancy_deboss.png"); }

.pattern-23 .example-normal {
  background: url("patterns/graphy.png"); }
.pattern-23 .example-inverted {
  background: url("patterns/inverted/graphy.png"); }

.pattern-24 .example-normal {
  background: url("patterns/noise_pattern_with_crosslines.png"); }
.pattern-24 .example-inverted {
  background: url("patterns/inverted/noise_pattern_with_crosslines.png"); }

.pattern-25 .example-normal {
  background: url("patterns/old_mathematics.png"); }
.pattern-25 .example-inverted {
  background: url("patterns/inverted/old_mathematics.png"); }

.pattern-26 .example-normal {
  background: url("patterns/ps_neutral.png"); }
.pattern-26 .example-inverted {
  background: url("patterns/inverted/ps_neutral.png"); }

.pattern-27 .example-normal {
  background: url("patterns/subtle_freckles.png"); }
.pattern-27 .example-inverted {
  background: url("patterns/inverted/subtle_freckles.png"); }

.pattern-28 .example-normal {
  background: url("patterns/wavegrid.png"); }
.pattern-28 .example-inverted {
  background: url("patterns/inverted/wavegrid.png"); }

.pattern-29 .example-normal {
  background: url("patterns/az_subtle.png"); }
.pattern-29 .example-inverted {
  background: url("patterns/inverted/az_subtle.png"); }

.pattern-30 .example-normal {
  background: url("patterns/tiny_grid.png"); }
.pattern-30 .example-inverted {
  background: url("patterns/inverted/tiny_grid.png"); }

.pattern-31 .example-normal {
  background: url("patterns/wavegrid.png"); }
.pattern-31 .example-inverted {
  background: url("patterns/inverted/wavegrid.png"); }

.pattern-32 .example-normal {
  background: url("patterns/gridme.png"); }
.pattern-32 .example-inverted {
  background: url("patterns/inverted/gridme.png"); }

.pattern-33 .example-normal {
  background: url("patterns/noisy_grid.png"); }
.pattern-33 .example-inverted {
  background: url("patterns/inverted/noisy_grid.png"); }

.pattern-34 .example-normal {
  background: url("patterns/subtlenet2.png"); }
.pattern-34 .example-inverted {
  background: url("patterns/inverted/subtlenet2.png"); }

.pattern-35 .example-normal {
  background: url("patterns/white_carbon.png"); }
.pattern-35 .example-inverted {
  background: url("patterns/inverted/white_carbon.png"); }

.pattern-36 .example-normal {
  background: url("patterns/lghtmesh.png"); }
.pattern-36 .example-inverted {
  background: url("patterns/inverted/lghtmesh.png"); }

.pattern-37 .example-normal {
  background: url("patterns/p5.png"); }
.pattern-37 .example-inverted {
  background: url("patterns/inverted/p5.png"); }

.pattern-38 .example-normal {
  background: url("patterns/worn_dots.png"); }
.pattern-38 .example-inverted {
  background: url("patterns/inverted/worn_dots.png"); }

.pattern-39 .example-normal {
  background: url("patterns/subtle_dots.png"); }
.pattern-39 .example-inverted {
  background: url("patterns/inverted/subtle_dots.png"); }

.pattern-40 .example-normal {
  background: url("patterns/brillant.png"); }
.pattern-40 .example-inverted {
  background: url("patterns/inverted/brillant.png"); }

.pattern-41 .example-normal {
  background: url("patterns/farmer.png"); }
.pattern-41 .example-inverted {
  background: url("patterns/inverted/farmer.png"); }

.pattern-42 .example-normal {
  background: url("patterns/retina_dust.png"); }
.pattern-42 .example-inverted {
  background: url("patterns/inverted/retina_dust.png"); }

.pattern-43 .example-normal {
  background: url("patterns/pinstripe.png"); }
.pattern-43 .example-inverted {
  background: url("patterns/inverted/pinstripe.png"); }

.pattern-44 .example-normal {
  background: url("patterns/line_horizontal1.png"); }
.pattern-44 .example-inverted {
  background: url("patterns/inverted/line_horizontal1.png"); }

.pattern-45 .example-normal {
  background: url("patterns/line_horizontal2.png"); }
.pattern-45 .example-inverted {
  background: url("patterns/inverted/line_horizontal2.png"); }

.pattern-46 .example-normal {
  background: url("patterns/linen.png"); }
.pattern-46 .example-inverted {
  background: url("patterns/inverted/linen.png"); }

.pattern-47 .example-normal {
  background: url("patterns/vintage_speckles.png"); }
.pattern-47 .example-inverted {
  background: url("patterns/inverted/vintage_speckles.png"); }

.pattern-48 .example-normal {
  background: url("patterns/subtle_grunge.png"); }
.pattern-48 .example-inverted {
  background: url("patterns/inverted/subtle_grunge.png"); }

.pattern-49 .example-normal {
  background: url("patterns/old_wall.png"); }
.pattern-49 .example-inverted {
  background: url("patterns/inverted/old_wall.png"); }

.pattern-50 .example-normal {
  background: url("patterns/brushed.png"); }
.pattern-50 .example-inverted {
  background: url("patterns/inverted/brushed.png"); }

.pattern-51 .example-normal {
  background: url("patterns/stucco.png"); }
.pattern-51 .example-inverted {
  background: url("patterns/inverted/stucco.png"); }

.pattern-52 .example-normal {
  background: url("patterns/mooning.png"); }
.pattern-52 .example-inverted {
  background: url("patterns/inverted/mooning.png"); }

.pattern-53 .example-normal {
  background: url("patterns/husk.png"); }
.pattern-53 .example-inverted {
  background: url("patterns/inverted/husk.png"); }

.pattern-54 .example-normal {
  background: url("patterns/concrete_wall_2.png"); }
.pattern-54 .example-inverted {
  background: url("patterns/inverted/concrete_wall_2.png"); }

.pattern-55 .example-normal {
  background: url("patterns/noisy.png"); }
.pattern-55 .example-inverted {
  background: url("patterns/inverted/noisy.png"); }

.pattern-56 .example-normal {
  background: url("patterns/concrete_wall_3.png"); }
.pattern-56 .example-inverted {
  background: url("patterns/inverted/concrete_wall_3.png"); }

.pattern-57 .example-normal {
  background: url("patterns/subtle_surface.png"); }
.pattern-57 .example-inverted {
  background: url("patterns/inverted/subtle_surface.png"); }

.pattern-58 .example-normal {
  background: url("patterns/dust.png"); }
.pattern-58 .example-inverted {
  background: url("patterns/inverted/dust.png"); }

.pattern-59 .example-normal {
  background: url("patterns/light_alu.png"); }
.pattern-59 .example-inverted {
  background: url("patterns/inverted/light_alu.png"); }

.pattern-60 .example-normal {
  background: url("patterns/corrugation.png"); }
.pattern-60 .example-inverted {
  background: url("patterns/inverted/corrugation.png"); }

.pattern-61 .example-normal {
  background: url("patterns/kindajean.png"); }
.pattern-61 .example-inverted {
  background: url("patterns/inverted/kindajean.png"); }

.pattern-62 .example-normal {
  background: url("patterns/line_diagonal1.png"); }
.pattern-62 .example-inverted {
  background: url("patterns/inverted/line_diagonal1.png"); }

.pattern-63 .example-normal {
  background: url("patterns/line_diagonal2.png"); }
.pattern-63 .example-inverted {
  background: url("patterns/inverted/line_diagonal2.png"); }

.pattern-64 .example-normal {
  background: url("patterns/groovepaper.png"); }
.pattern-64 .example-inverted {
  background: url("patterns/inverted/groovepaper.png"); }

.pattern-65 .example-normal {
  background: url("patterns/brushed_alu.png"); }
.pattern-65 .example-inverted {
  background: url("patterns/inverted/brushed_alu.png"); }

.pattern-66 .example-normal {
  background: url("patterns/rough_diagonal.png"); }
.pattern-66 .example-inverted {
  background: url("patterns/inverted/rough_diagonal.png"); }

.pattern-67 .example-normal {
  background: url("patterns/diagonal-noise.png"); }
.pattern-67 .example-inverted {
  background: url("patterns/inverted/diagonal-noise.png"); }

.pattern-68 .example-normal {
  background: url("patterns/cross_scratches.png"); }
.pattern-68 .example-inverted {
  background: url("patterns/inverted/cross_scratches.png"); }

.pattern-69 .example-normal {
  background: url("patterns/striped_lens.png"); }
.pattern-69 .example-inverted {
  background: url("patterns/inverted/striped_lens.png"); }

.pattern-70 .example-normal {
  background: url("patterns/debut_light.png"); }
.pattern-70 .example-inverted {
  background: url("patterns/inverted/debut_light.png"); }

.pattern-71 .example-normal {
  background: url("patterns/diagonal_waves.png"); }
.pattern-71 .example-inverted {
  background: url("patterns/inverted/diagonal_waves.png"); }

.pattern-72 .example-normal {
  background: url("patterns/honey_im_subtle.png"); }
.pattern-72 .example-inverted {
  background: url("patterns/inverted/honey_im_subtle.png"); }

.pattern-73 .example-normal {
  background: url("patterns/pw_maze_white.png"); }
.pattern-73 .example-inverted {
  background: url("patterns/inverted/pw_maze_white.png"); }

.pattern-74 .example-normal {
  background: url("patterns/subtle_zebra_3d.png"); }
.pattern-74 .example-inverted {
  background: url("patterns/inverted/subtle_zebra_3d.png"); }

.pattern-75 .example-normal {
  background: url("patterns/white_wave.png"); }
.pattern-75 .example-inverted {
  background: url("patterns/inverted/white_wave.png"); }

.pattern-76 .example-normal {
  background: url("patterns/circles.png"); }
.pattern-76 .example-inverted {
  background: url("patterns/inverted/circles.png"); }

.pattern-77 .example-normal {
  background: url("patterns/crosses.png"); }
.pattern-77 .example-inverted {
  background: url("patterns/inverted/crosses.png"); }

.pattern-78 .example-normal {
  background: url("patterns/grilled.png"); }
.pattern-78 .example-inverted {
  background: url("patterns/inverted/grilled.png"); }

.pattern-79 .example-normal {
  background: url("patterns/pw_pattern.png"); }
.pattern-79 .example-inverted {
  background: url("patterns/inverted/pw_pattern.png"); }

.pattern-80 .example-normal {
  background: url("patterns/struckaxiom.png"); }
.pattern-80 .example-inverted {
  background: url("patterns/inverted/struckaxiom.png"); }

.pattern-81 .example-normal {
  background: url("patterns/vichy.png"); }
.pattern-81 .example-inverted {
  background: url("patterns/inverted/vichy.png"); }

.pattern-82 .example-normal {
  background: url("patterns/wavecut.png"); }
.pattern-82 .example-inverted {
  background: url("patterns/inverted/wavecut.png"); }

.pattern-83 .example-normal {
  background: url("patterns/whitey.png"); }
.pattern-83 .example-inverted {
  background: url("patterns/inverted/whitey.png"); }

.pattern-84 .example-normal {
  background: url("patterns/cream_pixels.png"); }
.pattern-84 .example-inverted {
  background: url("patterns/inverted/cream_pixels.png"); }

.pattern-85 .example-normal {
  background: url("patterns/grey.png"); }
.pattern-85 .example-inverted {
  background: url("patterns/inverted/grey.png"); }

.pattern-86 .example-normal {
  background: url("patterns/shinedotted.png"); }
.pattern-86 .example-inverted {
  background: url("patterns/inverted/shinedotted.png"); }

.pattern-87 .example-normal {
  background: url("patterns/stacked_circles.png"); }
.pattern-87 .example-inverted {
  background: url("patterns/inverted/stacked_circles.png"); }
