body {
  background-color: #3f3f3f;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #8d8d8d; }

.container {
  width: 700px;
  margin: auto; }

code {
  padding: 0; }
  code pre {
    background-color: #262626;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 32px;
    padding: 16px; }

h1 {
  color: #b3b3b3;
  margin-top: 32px; }

h2 {
  border-bottom: 1px dashed #8d8d8d;
  padding-bottom: 8px;
  margin-top: 32px; }

h3 {
  background-color: #8d8d8d;
  color: #3f3f3f;
  padding: 4px 6px;
  display: inline-block;
  min-width: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin: 0; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: orange; }

b {
  color: #a6a6a6; }

ul {
  margin-bottom: 32px; }

div {
  border-radius: 3px;
  position: relative; }

.pattern-heading h4 {
  float: left;
  margin: 0;
  padding-bottom: 25px;
  font-weight: 700;
  width: 100px; }
.pattern-heading input.color {
  border: none;
  float: right;
  padding: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  width: 40px;
  border-radius: 2px; }

.examples {
  clear: both;
  height: 170px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #8A8A6F; }

.example-normal {
  height: 100%;
  float: left;
  width: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.example-inverted {
  height: 100%;
  float: left;
  width: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.pattern-1 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/paper.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-1 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/paper.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-2 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/rice_paper.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-2 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/rice_paper.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-3 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/noise_lines.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-3 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/noise_lines.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-4 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/fabric_plaid.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-4 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/fabric_plaid.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-5 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/first_aid_kit.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-5 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/first_aid_kit.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-6 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/texturetastic_gray.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-6 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/texturetastic_gray.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-7 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/lil_fiber.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-7 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/lil_fiber.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-8 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/tex2res5.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-8 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/tex2res5.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-9 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/skin_side_up.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-9 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/skin_side_up.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-10 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/light_noise_diagonal.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-10 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/light_noise_diagonal.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-11 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/chruch.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-11 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/chruch.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-12 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/45degreee_fabric.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-12 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/45degreee_fabric.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-13 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/bgnoise_lg.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-13 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/bgnoise_lg.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-14 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/little_pluses.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-14 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/little_pluses.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-15 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/squairy_light.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-15 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/squairy_light.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-16 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/white_texture.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-16 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/white_texture.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-17 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/binding_light.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-17 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/binding_light.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-18 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/double_lined.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-18 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/double_lined.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-19 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/grid.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-19 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/grid.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-20 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/absurdidad.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-20 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/absurdidad.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-21 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/grid_noise.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-21 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/grid_noise.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-22 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/fancy_deboss.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-22 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/fancy_deboss.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-23 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/graphy.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-23 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/graphy.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-24 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/noise_pattern_with_crosslines.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-24 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/noise_pattern_with_crosslines.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-25 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/old_mathematics.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-25 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/old_mathematics.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-26 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/ps_neutral.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-26 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/ps_neutral.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-27 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/subtle_freckles.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-27 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/subtle_freckles.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-28 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/wavegrid.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-28 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/wavegrid.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-29 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/az_subtle.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-29 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/az_subtle.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-30 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/tiny_grid.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-30 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/tiny_grid.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-31 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/wavegrid.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-31 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/wavegrid.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-32 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/gridme.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-32 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/gridme.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-33 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/noisy_grid.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-33 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/noisy_grid.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-34 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/subtlenet2.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-34 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/subtlenet2.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-35 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/white_carbon.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-35 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/white_carbon.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-36 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/lghtmesh.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-36 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/lghtmesh.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-37 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/p5.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-37 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/p5.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-38 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/worn_dots.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-38 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/worn_dots.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-39 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/subtle_dots.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-39 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/subtle_dots.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-40 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/brillant.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-40 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/brillant.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-41 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/farmer.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-41 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/farmer.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-42 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/retina_dust.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-42 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/retina_dust.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-43 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/pinstripe.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-43 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/pinstripe.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-44 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/line_horizontal1.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-44 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/line_horizontal1.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-45 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/line_horizontal2.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-45 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/line_horizontal2.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-46 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/linen.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-46 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/linen.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-47 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/vintage_speckles.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-47 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/vintage_speckles.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-48 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/subtle_grunge.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-48 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/subtle_grunge.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-49 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/old_wall.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-49 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/old_wall.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-50 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/brushed.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-50 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/brushed.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-51 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/stucco.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-51 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/stucco.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-52 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/mooning.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-52 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/mooning.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-53 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/husk.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-53 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/husk.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-54 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/concrete_wall_2.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-54 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/concrete_wall_2.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-55 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/noisy.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-55 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/noisy.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-56 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/concrete_wall_3.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-56 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/concrete_wall_3.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-57 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/subtle_surface.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-57 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/subtle_surface.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-58 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/dust.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-58 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/dust.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-59 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/light_alu.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-59 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/light_alu.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-60 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/corrugation.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-60 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/corrugation.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-61 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/kindajean.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-61 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/kindajean.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-62 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/line_diagonal1.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-62 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/line_diagonal1.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-63 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/line_diagonal2.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-63 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/line_diagonal2.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-64 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/groovepaper.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-64 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/groovepaper.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-65 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/brushed_alu.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-65 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/brushed_alu.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-66 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/rough_diagonal.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-66 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/rough_diagonal.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-67 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/diagonal-noise.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-67 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/diagonal-noise.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-68 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/cross_scratches.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-68 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/cross_scratches.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-69 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/striped_lens.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-69 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/striped_lens.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-70 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/debut_light.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-70 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/debut_light.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-71 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/diagonal_waves.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-71 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/diagonal_waves.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-72 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/honey_im_subtle.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-72 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/honey_im_subtle.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-73 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/pw_maze_white.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-73 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/pw_maze_white.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-74 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/subtle_zebra_3d.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-74 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/subtle_zebra_3d.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-75 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/white_wave.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-75 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/white_wave.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-76 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/circles.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-76 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/circles.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-77 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/crosses.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-77 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/crosses.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-78 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/grilled.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-78 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/grilled.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-79 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/pw_pattern.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-79 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/pw_pattern.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-80 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/struckaxiom.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-80 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/struckaxiom.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-81 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/vichy.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-81 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/vichy.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-82 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/wavecut.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-82 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/wavecut.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-83 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/whitey.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-83 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/whitey.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-84 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/cream_pixels.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-84 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/cream_pixels.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-85 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/grey.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-85 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/grey.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-86 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/shinedotted.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-86 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/shinedotted.png");
  background-color: rgba(255, 255, 255, 0); }

.pattern-87 .example-normal {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/stacked_circles.png");
  background-color: rgba(255, 255, 255, 0); }
.pattern-87 .example-inverted {
  background: url("https://raw.github.com/Magnus-G/pattern-mixin/master/patterns/inverted/stacked_circles.png");
  background-color: rgba(255, 255, 255, 0); }
