@import "texture-mixin";

$background-color: #3F3F3F;
$space: 16px;
$radius: 3px;

$font-color: lighten(gray, 5);
$contrast-color: orange;

body {
  background-color: $background-color;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  color: $font-color;
}

.container {
  width: 700px;
  margin: auto;
}

code { 
  padding: 0;
  pre {
    background-color: darken($background-color, 10);
    border-radius: $radius;
    margin: 0;
    margin-bottom: $space *2;
    padding: $space;

  }
}

////////////////////////////////////////////////

h1 {
  color: lighten($font-color, 15);
  margin-top: $space *2;
}

h2 {
  border-bottom: 1px dashed $font-color;
  padding-bottom: $space/2;
  margin-top: $space *2;
}

h3 {
  background-color: $font-color;
  color: $background-color;
  padding: 4px 3px 4px 6px;
  display: inline-block;
  min-width: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: $contrast-color;
  }
}

b {
  color: lighten($font-color, 10);
}

ul {
  margin-bottom: $space *2;
}

////////////////////////////////////////////////

div {
  border-radius: $radius;
  position: relative;
}  

.texture-heading {
  h4 {
    float: left;
    margin: 0;
    padding-bottom: 25px;
    font-weight: 700;
    width: 100px;
  }

  input.color {
    border: none;
    float: right;
    padding: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    width: 40px;
    border-radius: 2px;
  }
}
  

.examples {
  clear: both;
  height: 170px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #8A8A6F;

}

.example-normal {
  height: 100%;
  float: left;
  width: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.example-inverted {
  height: 100%;
  float: left;
  width: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@for $i from 1 through 87 {
  .texture-#{$i} {
    .example-normal {
      @include texture(transparentize(white, 1), $i, 0);
    }
    .example-inverted {
      @include texture(transparentize(white, 1), $i, 1);
    }
  }
}
